[Unit]
Description=Turbo Full Nodes PoC - Snapshoter

[Service]
ExecStart=/home/ubuntu/turbo-full-nodes-poc/snapshoter.sh /data/volumes/test 1 /data/snapshots
Restart=always

[Install]
WantedBy=default.target
