[Unit]
Description=Turbo Full Nodes PoC - Writer

[Service]
ExecStart=/home/ubuntu/turbo-full-nodes-poc/writer.sh /data/volumes/test/bytes 1024 1
Restart=always

[Install]
WantedBy=default.target
